In [2]:
import numpy as np
import pandas as pd

Handling Null Values

In [ ]:
student_table = pd.read_csv('studentlifedata.csv')
student_table.head(3)

,Timestamp,Username,University,Degree,Avg_Attendance,Avg_Study_time_per_day,Extracurricular_Activities,Avg_sleep_time,Household_Size,Workout,Free_time_Activity,University_society_member,Parents_Highest_Qaulification,GPA
0,2023/11/22 9:12:38 PM GMT+5,rayyanlaeeq@gmail.com,Fast,AI,90% - 100%,NaN,Sports,5-7 hours,5-6 members,"Yes, regularly",Reading,No,Master's Degree,3.0 - 3.9
1,2023/11/23 8:25:45 PM GMT+5,NaN,Fast NU,BS AI,90% - 100%,NaN,Sports,5-7 hours,5-6 members,"Yes, regularly",Watching TV/Movies,Yes,Master's Degree,3.0 - 3.9
2,2023/11/23 8:25:48 PM GMT+5,NaN,FAST-NU,BS-AI,90% - 100%,NaN,Gaming,5-7 hours,5-6 members,"Yes, regularly",Watching TV/Movies,No,Master's Degree,3.0 - 3.9
3,2023/11/24 12:47:21 PM GMT+5,NaN,Fast,Bscs,80%-90%,5-6 hours,Academic Clubs,5-7 hours,3-4 members,Occasionally,Watching TV/Movies,Yes,Bachelor's Degree,2.0 - 2.9
4,2023/11/24 3:03:49 PM GMT+5,NaN,Fast,Artificial intelligence,80%-90%,1-2 hours,Sports,5-7 hours,5-6 members,"No, I don't",Watching TV/Movies,No,Master's Degree,3.0 - 3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,2023/12/06 3:43:42 PM GMT+5,NaN,University of Karachi.,MSc in Geography.,90% - 100%,1-2 hours,Arts and Culture;Volunteer Work,7-9 hours,7 or more members,"No, I don't",Reading,No,High School Diploma or Below,3.0 - 3.9
205,2023/12/07 11:41:34 AM GMT+5,NaN,FAST,Bs Artificial Intelligence,80%-90%,3-4 hours,Sports,5-7 hours,5-6 members,"No, I don't",Socializing with Friends,No,Master's Degree,2.0 - 2.9
206,2023/12/07 11:41:54 AM GMT+5,NaN,Fast,Artificial Intelligence,80%-90%,1-2 hours,Academic Clubs,Less than 5 hours,5-6 members,"No, I don't",Watching TV/Movies,Yes,High School Diploma or Below,3.0 - 3.9
207,2023/12/07 12:38:18 PM GMT+5,NaN,Iqra University,Bs-Computer Science,90% - 100%,Less than 1 hour,Sports,5-7 hours,3-4 members,"Yes, regularly",Socializing with Friends,No,Master's Degree,3.0 - 3.9
208,2023/12/07 9:43:30 PM GMT+5,NaN,University of karachi,MSc geography,90% - 100%,5-6 hours,Arts and Culture;Volunteer Work,5-7 hours,5-6 members,"Yes, regularly",Socializing with Friends,No,High School Diploma or Below,3.0 - 3.9

In [5]:
print(student_table.shape)

(209, 14)

In [6]:
student_table.isnull().sum()

Timestamp                          0
Username                         208
University                         0
Degree                             0
Avg_Attendance                     0
Avg_Study_time_per_day             3
Extracurricular_Activities         0
Avg_sleep_time                     0
Household_Size                     0
Workout                            0
Free_time_Activity                 0
University_society_member          0
Parents_Highest_Qaulification      0
GPA                                0
dtype: int64

Dropping Unnecessary columns

In [8]:
student_table = student_table.drop(['Timestamp','Username','University'],axis=1)
student_table.shape

(209, 11)

Dropping Rows containing null values in Avg_Study_time_per_day column

In [10]:
print("Shape of dataframe before dropping:", student_table.shape)
student_table = student_table.dropna(axis = 0, subset = ['Avg_Study_time_per_day'])
print("Shape after dropping:", student_table.shape)

Shape of dataframe before dropping: (209, 11)
Shape after dropping: (206, 11)

In [11]:
student_table.isnull().sum()

Degree                           0
Avg_Attendance                   0
Avg_Study_time_per_day           0
Extracurricular_Activities       0
Avg_sleep_time                   0
Household_Size                   0
Workout                          0
Free_time_Activity               0
University_society_member        0
Parents_Highest_Qaulification    0
GPA                              0
dtype: int64

In [12]:
student_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206 entries, 3 to 208
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Degree                         206 non-null    object
 1   Avg_Attendance                 206 non-null    object
 2   Avg_Study_time_per_day         206 non-null    object
 3   Extracurricular_Activities     206 non-null    object
 4   Avg_sleep_time                 206 non-null    object
 5   Household_Size                 206 non-null    object
 6   Workout                        206 non-null    object
 7   Free_time_Activity             206 non-null    object
 8   University_society_member      206 non-null    object
 9   Parents_Highest_Qaulification  206 non-null    object
 10  GPA                            206 non-null    object
dtypes: object(11)
memory usage: 19.3+ KB