In [1]:
import numpy as np
import pandas as pd

Handling Null Values

In [2]:
student_table = pd.read_csv('studentlifedata.csv')
student_table.head(3)

,Timestamp,Username,University,Degree,Avg_Attendance,Avg_Study_time_per_day,Extracurricular_Activities,Avg_sleep_time,Household_Size,Workout,Free_time_Activity,University_society_member,Parents_Highest_Qaulification,GPA
0,2023/11/22 9:12:38 PM GMT+5,rayyanlaeeq@gmail.com,Fast,AI,90% - 100%,NaN,Sports,5-7 hours,5-6 members,"Yes, regularly",Reading,No,Master's Degree,3.0 - 3.9
1,2023/11/23 8:25:45 PM GMT+5,NaN,Fast NU,BS AI,90% - 100%,NaN,Sports,5-7 hours,5-6 members,"Yes, regularly",Watching TV/Movies,Yes,Master's Degree,3.0 - 3.9
2,2023/11/23 8:25:48 PM GMT+5,NaN,FAST-NU,BS-AI,90% - 100%,NaN,Gaming,5-7 hours,5-6 members,"Yes, regularly",Watching TV/Movies,No,Master's Degree,3.0 - 3.9

In [3]:
print(student_table.shape)

(209, 14)

In [4]:
student_table.isnull().sum()

Timestamp                          0
Username                         208
University                         0
Degree                             0
Avg_Attendance                     0
Avg_Study_time_per_day             3
Extracurricular_Activities         4
Avg_sleep_time                     0
Household_Size                     0
Workout                            0
Free_time_Activity                 0
University_society_member          0
Parents_Highest_Qaulification      0
GPA                                0
dtype: int64

Dropping Unnecessary columns

In [5]:
student_table = student_table.drop(['Timestamp','Username','University'],axis=1)
student_table.shape

(209, 11)

Dropping Rows containing null values in Avg_Study_time_per_day column

In [6]:
print("Shape of dataframe before dropping:", student_table.shape)
student_table = student_table.dropna(axis = 0, subset = ['Avg_Study_time_per_day'])
print("Shape after dropping:", student_table.shape)

Shape of dataframe before dropping: (209, 11)
Shape after dropping: (206, 11)

In [7]:
student_table.isnull().sum()

Degree                           0
Avg_Attendance                   0
Avg_Study_time_per_day           0
Extracurricular_Activities       4
Avg_sleep_time                   0
Household_Size                   0
Workout                          0
Free_time_Activity               0
University_society_member        0
Parents_Highest_Qaulification    0
GPA                              0
dtype: int64

In [8]:
student_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, 3 to 208
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Degree                         206 non-null    object
 1   Avg_Attendance                 206 non-null    object
 2   Avg_Study_time_per_day         206 non-null    object
 3   Extracurricular_Activities     202 non-null    object
 4   Avg_sleep_time                 206 non-null    object
 5   Household_Size                 206 non-null    object
 6   Workout                        206 non-null    object
 7   Free_time_Activity             206 non-null    object
 8   University_society_member      206 non-null    object
 9   Parents_Highest_Qaulification  206 non-null    object
 10  GPA                            206 non-null    object
dtypes: object(11)
memory usage: 19.3+ KB

Standardizing the values of column Degree, since there are numerous variations of similar degree

In [9]:
from rapidfuzz import process

In [10]:
standardized_degrees = ['Bachelors of Artificial Intelligence', 'Bachelors of Computer Science', 'Bachelors of Cyber Security', 'Bachelors of Software Engineering', 'Bachelors of Information Technology', 'Bachelors of Biotechnology', 'BBA', 'Bachelors of Electrical Engineering', 'Bachelors of Civil Engineering', 'Bachelors of Geography', 'Biology', 'Bachelors of Media Science', 'Bachelors of Avionics', 'Bachelors of Finance and Accounting', 'Doctor of Pharmacy', 'Doctor of Physical Therapy', 'Bachelors of Physics', 'Bachelors of Textile Engineering', 'Bachelors of Maritime', 'Bachelors of Industrial']


# Function to match degrees
def standardize_degree(value, choices):
    if pd.notnull(value):
        match = process.extractOne(value, choices)  # Get the best match
        return match[0] if match[1] >= 80 else 'Other'  # Set a threshold for matching
    return value

# Apply the function to the 'degree' column
student_table['Degree'] = student_table['Degree'].apply(lambda x: standardize_degree(x, standardized_degrees))
student_table['Degree'].head(5)

3                                   Other
4    Bachelors of Artificial Intelligence
5    Bachelors of Artificial Intelligence
6    Bachelors of Artificial Intelligence
7                                   Other
Name: Degree, dtype: object

In [11]:
student_table['Degree'].unique()

array(['Other', 'Bachelors of Artificial Intelligence',
       'Bachelors of Cyber Security', 'Bachelors of Computer Science',
       'Bachelors of Physics', 'BBA', 'Biology',
       'Bachelors of Software Engineering',
       'Bachelors of Information Technology',
       'Bachelors of Media Science', 'Bachelors of Geography',
       'Bachelors of Finance and Accounting', 'Doctor of Pharmacy',
       'Bachelors of Biotechnology', 'Bachelors of Textile Engineering',
       'Bachelors of Civil Engineering',
       'Bachelors of Electrical Engineering',
       'Doctor of Physical Therapy'], dtype=object)